<body>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">
<div class="spacer">

</div>

<mat-grid-list class="container" [cols]="2" [rowHeight]="450">

  <mat-grid-tile>
    <div class="container">
    <h1 class="he">CREATE</h1>
    <img src="src/assets/color.png">
      <p class="txt">Choose image that you like, color it, add effects
        and fun stickers. Show your imagination and go wild. </p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="container">
      <h1 class="he">LEARN</h1>
      <img src="src/assets/learn.png">
      <p class="txt">Find titles that you like and read amazing articles about our planet Earth.
        Here you can find all of the new information.</p>
    </div>
  </mat-grid-tile>

</mat-grid-list>
</body>
