<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600" rel="stylesheet">

<div class="back">

  <h1 class="font head"> <b>Earthify</b></h1>
    <img id="loading" src="src/assets/logo.png">
  <p class="font line">Color, draw, learn.</p>

</div>

<app-about></app-about>
<app-content></app-content>

<div class="footer">


  <img class="fot" src="src/assets/nasa.png">

  <p style="color: white; font-family: 'Fira Sans', sans-serif; font-size: 80%; padding: 3%">Texts in ur storys are partly copied and adapted for earthify
    from NASA Scieentific Viusalisation studio </p>

</div>
